window-rule {
    geometry-corner-radius 10
    clip-to-geometry true
}

window-rule {
    match app-id="pavucontrol"
    match app-id="blueman-manager"
    match title="Picture-in-Picture"
    open-floating true
    default-column-width { proportion 0.25; }
}

layer-rule {
    match namespace="^wallpaper$"
    place-within-backdrop true
}

window-rule {
    match app-id="Happ"
    open-on-workspace "internet"
}
